@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
  font-family: Staatliches, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: rgb(174,238,215);
  background: radial-gradient(circle, rgba(174,238,215,1) 0%, rgba(148,187,233,1) 100%);
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  border-bottom: 3px solid white;
  padding: 5px 0px 5px 0px;
}

#contentBlock {
  margin-top: 25px;
}

#study {
  text-align: center;
}

#study > img {
  display: block;
  margin: auto;
  margin-top: 25px;

}

#study > button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 100px;
  height: 25px;
  font-size: 20px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

#study > button:hover {
  background-color: #dedede;
  transition: all 0.5s ease;
}

#study > button:active {
  background-color: #c4c4c4;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 600px) {
  #home {
    font-size: 23px;
    margin-right: 15px;
  }

  .title-button {
    font-size: 17px;
    margin-right: 5px;
  }
}

@media only screen and (min-width: 600px) {
  #home {
    font-size: 25px;
    margin-right: 15px;
  }

  .title-button {
    font-size: 19px;
    margin-right: 5px;
  }
}

@media only screen and (min-width: 768px) {
  #home {
    font-size: 33px;
    margin-right: 20px;
  }

  .title-button {
    font-size: 23px;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 992px) {
  #home {
    font-size: 40px;
    margin-right: 20px;
  }

  .title-button {
    font-size: 25px;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  #home {
    font-size: 45px;
    margin-right: 25px;
  }

  .title-button {
    font-size: 30px;
    margin-right: 10px;
  }
}
